@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');


html {
    height: 100%;
    text-align: center;
    overflow-y:auto;
    background-color: rgb(254, 241, 222);
}

body {
    display: inline-block;
    margin:0px;
    padding:0px;
    max-width: 1320px;
    min-width:990px;
    height:100%;
    /* white-space: nowrap; */
}

#root, .App, .Home, .ItemList {
    height: 100%;
}

.title {

    font-family: 'Black Han Sans', sans-serif;
    display: inline-block;
    height:auto;
    width:auto;
    font-size: 45px;
    color: rgb(45, 57, 81);
    padding-top: 45px;
    padding-left: 36px;
    float: left;
}

.top-nav {
    width: 100%;
    height: 150px;
    display: inline-block;
    float:left;
    background-color: rgb(254, 241, 222);
}

.container {
    width: 100%;
    /* height: 745px; */
    height: calc(100% - 150px);
    display: inline-block;
    background-color: rgb(254, 241, 222);
    text-align: left;
    float: left;
    /* white-space: nowrap; */
}

.user-infor {
    display: inline-block;
    float:right;
    margin-top:36px;
    margin-right: 20px;
    font-size:45px;
    color:rgb(45, 57, 81);
}
.user-infor:hover {
    cursor:pointer;
    background-color: rgba(0,0,0,0.2);
}

.settings-btn, .write-btn{
    background-color:rgb(254, 241, 222);
    border:2px solid rgb(45, 57, 81);
    display:inline-block;
    cursor:pointer;
    color:rgb(45, 57, 81);
    font-family:Verdana;
    font-size:20px;
    padding:9px 18px;
    text-decoration:none;
    font-weight: bold;
    float:right;
    margin-top: 45px;
    margin-right:20px;
}
.settings-btn:hover, .write-btn:hover{
    background-color:rgb(45, 57, 81);
    color: rgb(254, 241, 222);;
}
.settings-btn:active, .write-btn:active {
    position:relative;
    top:1px;
}

